@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";
@namespace xml "http://www.w3.org/XML/1998/namespace";

blockquote[xml|lang],
#preface p[xml|lang]{
	font-style: italic;
}

[epub|type~="z3998:signature"]{
	font-variant: small-caps;
}

footer,
[epub|type~="z3998:verse"] footer p{
	margin-top: 1em;
	text-align: right;
}

/* Dedication 1 */
section#dedication-1 > p{
	margin: auto;
	margin-top: 3em;
	max-width: 80%;
	text-align: center;
}

section#dedication-1 p b{
	font-size: larger;
}

section#dedication-1 span:last-of-type{
	margin-left: 5em;
}
/* End dedication 1 */

/* Dedication 2 */
#dedication-2 header p{
	display: inline-block;
	max-width: 60%;
	text-align: justify;
	text-indent: 0;
}
/* End dedication 2 */

/* All epigraphs */
[epub|type~="epigraph"]{
	font-style: italic;
	hyphens: none;
	-epub-hyphens: none;
}

[epub|type~="epigraph"] i{
	font-style: normal;
}

[epub|type~="epigraph"] cite{
	font-style: normal;
	font-variant: small-caps;
	margin-top: 1em;
}

[epub|type~="epigraph"] cite i{
	font-style: italic;
}
/* End all epigraphs */

/* Full-page epigraphs */
section[epub|type~="epigraph"]{
	text-align: center;
}

section[epub|type~="epigraph"] > *{
	display: inline-block;
	margin: auto;
	margin-top: 3em;
	max-width: 80%;
	text-align: initial;
}

@supports(display: flex){
	section[epub|type~="epigraph"]{
		align-items: center;
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		justify-content: center;
		min-height: calc(98vh - 3em);
		padding-top: 3em;
	}

	section[epub|type~="epigraph"] > *{
		margin: 0;
	}

	section[epub|type~="epigraph"] > * + *{
		margin-top: 3em;
	}
}
/* End full-page epigraphs */

[epub|type~="z3998:poem"] section > header{
	/* styling for stanza numbers */
	display: block;
	font-variant: small-caps;
	margin: 2em 0 1em 0;
	text-align: center;
}

[epub|type~="z3998:poem"] header + p{
	/* adjusts spacing between number and stanza */
	margin: 0;
}

[epub|type~="z3998:poem"] section > p,
[epub|type~="z3998:verse"] > p{
	text-align: initial;
	text-indent: 0;
}

[epub|type~="z3998:poem"] p > span,
[epub|type~="z3998:verse"] > p > span{
	display: block;
	padding-left: 1em;
	text-indent: -1em;
}

[epub|type~="z3998:poem"] p > span + br,
[epub|type~="z3998:verse"] p > span + br{
	display: none;
}

[epub|type~="z3998:verse"] > p + p{
	margin-top: 1em;
}

p span.i1{
	padding-left: 2em;
	text-indent: -1em;
}

p span.i2{
	padding-left: 3em;
	text-indent: -1em;
}

p span.i6{
	padding-left: 7em;
	text-indent: -1em;
}
/* End poem, verse */

/* Era */
abbr[epub|type~="se:era"]{
	font-variant: all-small-caps;
}

/* Appendix */
table{
	font-variant-numeric: tabular-nums;
	margin: 1em auto 1em auto;
}

table tr td:last-of-type,
table tfoot tr{
	text-align: right;
}

table tfoot td:last-of-type{
	border-top: 1px solid;
}

#appendix section[epub|type~="z3998:poem"] section > section{
	margin-top: 0;
}

#appendix section[epub|type~="z3998:poem"] header p span{
	display: inline;
	padding-left: 0;
	text-indent: 0;
}

#appendix section[epub|type~="z3998:poem"] header p + p{
	font-variant: normal;
	text-align: justify;
}
/* End appendix */

/* Bridgehead */
[epub|type~="bridgehead"]{
	display: inline-block;
	font-style: italic;
	max-width: 60%;
	text-align: justify;
	text-indent: 0;
}

[epub|type~="z3998:poem"] [epub|type~="bridgehead"]{
	text-align: justify;
}

[epub|type~="bridgehead"] + div[epub|type~="z3998:verse"]{
	margin-top: 1em;
}
/* End bridgehead */
