@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";
@namespace xml "http://www.w3.org/XML/1998/namespace";

/* Centered dedications */
section[epub|type~="dedication"]{
	text-align: center;
}

section[epub|type~="dedication"] > *{
	display: inline-block;
	margin: auto;
	margin-top: 3em;
	max-width: 80%;
}

section[epub|type~="dedication"] p span{
	margin-left: 5em;
}

section[epub|type~="dedication"] p b{
	font-size: larger;
}

#dedication-1 cite,
#dedication-2 cite{
	font-style: normal;
}

#dedication-2 > * + *{
	margin-top: 1em;
}

#dedication-2 > p {
	text-indent: 0;
}

@supports(display: flex){
	section[epub|type~="dedication"]{
		align-items: center;
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		justify-content: center;
		min-height: calc(98vh - 3em);
		padding-top: 3em;
	}

	section[epub|type~="dedication"] > *{
		margin: 0;
	}
}
/* End centered dedications */

/* All epigraphs */
[epub|type~="epigraph"]{
	font-style: italic;
	hyphens: none;
	-epub-hyphens: none;
}

[epub|type~="epigraph"] i{
	font-style: normal;
}

[epub|type~="epigraph"] cite{
	font-style: normal;
	font-variant: small-caps;
	margin-top: 1em;
}

[epub|type~="epigraph"] cite i{
	font-style: italic;
}
/* End all epigraphs */

/* Full-page epigraphs */
section[epub|type~="epigraph"]{
	text-align: center;
}

section[epub|type~="epigraph"] > *{
	display: inline-block;
	margin: auto;
	margin-top: 3em;
	max-width: 80%;
	text-align: initial;
}

@supports(display: flex){
	section[epub|type~="epigraph"]{
		align-items: center;
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		justify-content: center;
		min-height: calc(98vh - 3em);
		padding-top: 3em;
	}

	section[epub|type~="epigraph"] > *{
		margin: 0;
	}

	section[epub|type~="epigraph"] > * + *{
		margin-top: 3em;
	}
}
/* End full-page epigraphs */

/* Arguments */
blockquote[xml|lang]{
	font-style: italic;
}

header > table{
	margin: auto;
}

header > table td:first-of-type{
	text-align: initial;
}

header > table td:last-of-type{
	padding-left: 1em;
	text-align: right;
}

/* Poetry and verse */
[epub|type~="z3998:poem"] section > header{
	/* styling for stanza numbers */
	display: block;
	font-variant: small-caps;
	margin: 2em 0 1em 0;
	text-align: center;
}

[epub|type~="z3998:poem"] header + p{
	/* adjusts spacing between number and stanza */
	margin: 0;
}

[epub|type~="z3998:poem"] p,
[epub|type~="z3998:verse"] p{
	display: inline-block;
	text-align: initial;
	text-indent: 0;
}

[epub|type~="z3998:poem"] p > span,
[epub|type~="z3998:verse"] p > span{
	display: block;
	padding-left: 1em;
	text-indent: -1em;
}

[epub|type~="z3998:poem"] p > span + br,
[epub|type~="z3998:verse"] p > span + br{
	display: none;
}

p span.i1{
	padding-left: 2em;
	text-indent: -1em;
}

p span.i2{
	padding-left: 3em;
	text-indent: -1em;
}

p span.i6{
	padding-left: 7em;
	text-indent: -1em;
}

/* Era */
abbr[epub|type~="se:era"]{
	font-variant: all-small-caps;
}

/* Rejected stanzas table */
#rejected-stanzas table:last-of-type td:nth-of-type(4){
	text-align: initial;
}

#rejected-stanzas table:last-of-type td:last-of-type{
	font-variant-numeric: tabular-nums;
	text-align: right;
}

#rejected-stanzas table:last-of-type tr:last-of-type td:last-of-type{
	border-top: black 1px solid;
}

/* Rejected stanzas headers */
#rejected-stanzas[epub|type~="z3998:poem"] > header p{
	display: block;
	text-indent: 1em;
}

#rejected-stanzas[epub|type~="z3998:poem"] > header p:first-of-type{
	text-indent: 0;
}

#rejected-stanzas[epub|type~="z3998:poem"] header p > span{
	display: inline;
	font-variant: normal;
	text-align: initial;
	text-indent: 0;
	padding-left: 0;
}